h2.entry {
  margin-bottom: 0;
}

p.sub {
  margin-top: 0;
  font-style: italic;
}

p.indent {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
}

p.bold {
  font-weight: bold;
}